body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  text-align: center;
  display: flex;

  height: 44px;
  line-height: 44px;
}

.nav-left,
.nav-right {
  width: 70px;
  background-color: red;
}

.nav-center {
  flex: 1;

  background-color: blue;
}
